input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]
{
    -moz-appearance: textfield;
}

html
{
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  min-height:100%;
}
h2
{
	display:none;
	font-size:1.25rem;
	text-align:center;
}
#goneButNotForgotten
{
	filter: grayscale(100%);
	background-color: #141414;
}
#goneButNotForgotten h1, #goneButNotForgotten #optionalListToggleText
{
	color: #FFF;
}
#goneButNotForgotten h2
{
	display:inherit;
	font-style: italic;
	text-shadow: -1px -1px 0 #DDD, 1px -1px 0 #DDD, -1px 1px 0 #DDD, 1px 1px 0 #DDD;
}
#goneButNotForgotten .bingoBox.selected
{
	background-color: rgba(40,40,40,0.75);
}
#goneButNotForgotten .bingoBox.selected.highlighted
{
	background-color: rgba(120,120,120,0.33);
}
@media only screen and (min-width: 600px)
{
	#goneButNotForgotten
	{
		background:url(../images/the-legend-himself.jpg);
		background-repeat: no-repeat;
		background-position: 40%;
		background-size: cover;
		background-position: fixed;
	}
}
body
{
  margin:8px 0;
}
h1, h3
{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3
{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: normal;
}
.printOnly
{
  display:none;
}
.webOnly
{

}
.buttonContainer
{
  display:block;
  text-align: center;
  margin:1em auto;
}
/* The switch - the box around the slider */
.switch
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input
{
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider
{
  background-color: #0076c0;
}

input:focus + .slider
{
  box-shadow: 0 0 1px #0076c0;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round
{
  border-radius: 34px;
}

.slider.round:before
{
  border-radius: 50%;
}

#seedNumber
{
  word-break: break-all;
}
#seedNumberPrint:before
{
  content:"Seed: ";
}
#cardContainer
{
  overflow-x: auto;
  overflow-y: hidden;
}
#bingoCard
{
  display:table;
  width:100%;
  margin:auto;
  max-width:825px;
  background:#191919;
  color: #fff;
  letter-spacing: 1px;
  font-size:14px;
  background:url(../images/rainbow_tie_dye_seamless.jpg);
  background-repeat:repeat;
  /*-webkit-box-shadow: 0 0 57px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 57px rgba(0,0,0,0.25);
  box-shadow: 0 0 57px rgba(0,0,0,0.25);*/
}
.bingoRow
{
  display:table-row;
  width:100%;
}
.bingoBox
{
  position: relative;
  display:table-cell;
  width:20%;
  height:100px;
  text-align:center;
  vertical-align:middle;
  border:1px solid #555;
  cursor:pointer;
  background: #333;
  transition: background .35s, color .35s;
  text-transform: capitalize;
  font-size:0.9rem;
}
.bingoHeader
{
  display:table-cell;
  width:20%;
  text-align:center;
  vertical-align:middle;
  border:1px solid #555;
  cursor:pointer;
  height:auto;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0%,#434343),color-stop(100%,#666565));
  background-image: -webkit-linear-gradient(bottom,#434343,#666565);
  background-image: -moz-linear-gradient(bottom,#434343,#666565);
  background-image: -o-linear-gradient(bottom,#434343,#666565);
  background-image: linear-gradient(bottom,#434343,#666565);
  border: 1px solid #111;
  font-size: 1.5rem;
  pointer-events: none;
}
.bingoBox.smallText
{
  font-size: 0.75rem;
}
.bingoBox.free
{
  color: #0076c0;
  font-size:2rem;
}
.bingoBox.selected
{
  color:#fff;
  background: rgba(0,0,0,0.15);
}
.bingoBox.selected:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "X";
    font-size: 5rem;
    color: rgba(255,255,255,0.5);
    line-height: 100px;
}
.bingoBox.selected.highlighted
{
	background-color: rgba(0,118,192,0.75);
}
.bingoBox.selected.highlighted:after
{
}

#seedNumber
{
  width:100px;
}
#websiteLocation
{
  text-align:center;
}

@media only screen and (min-width: 600px)
{
  .bingoBox
  {
    font-size: 1rem;
  }
  .bingoBox.smallText
  {
    font-size: 1rem;
  }
}

@media print
{
  .bingoBox.selected:after
  {
    display:none;
  }
  .webOnly
  {
    display:none;
  }
  .bingoBox.free
  {
    color: #000;
  }
  .printOnly
  {
    display:inherit;
  }
  #seedNumber
  {
    text-align:center;
  }
}
